body {
  text-align: center;
  font-family: Helvetica;
}
.heading h1{
  font-size: 70px;
  font-weight: bold;
  color: white;
}
.heading p {
  font-size: 18px;
  color: white;
  text-decoration: underline;
}
.heading{
  background-image: url("../../resources/images/the-flatiron-building.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.process h2{
  font-size: 32px;
  font-weight: bold;
}
.process h3{
  font-size: 23px;
  font-weight: bold;
  }
  .process p{
    font-size: 14px;
  }
  .design_ny {
    background-image: url("../../resources/images/the-flatiron-building.png");
    color: white;
    font-size: 23px;
    font-weight: bold;
  }
